/.idea
/.vs
/target
/tmp
/tmp-alt

capstone.zip
cargo-timing*
Cargo.lock

/profile.json
/examples/src/scene_viewer/resources/
!/examples/src/scene_viewer/resources/skybox

*-diff.png
*-success.png
*-failure.png
