[workspace]
resolver = "2"
members = [
    "examples/textured-quad",
    "examples/cube",
    "examples/cube-no-framework",
    "examples/egui",
    "examples/gltf",
    "examples/scene-viewer",
    "rend3",
    "rend3-gltf",
    "rend3-egui",
    "rend3-routine",
    "rend3-framework",
    "rend3-types"
]

[profile.dev.package."*"]
opt-level = 3

[profile.release]
debug = true
lto = "thin"

[patch.crates-io]
# wgpu = { git = "https://github.com/gfx-rs/wgpu.git", rev = "dfa4948033a33f89b56f71edba0b443dcd60d965" }
# wgpu-core = { git = "https://github.com/gfx-rs/wgpu.git", rev = "dfa4948033a33f89b56f71edba0b443dcd60d965" }
# wgpu-hal = { git = "https://github.com/gfx-rs/wgpu.git", rev = "dfa4948033a33f89b56f71edba0b443dcd60d965" }
# wgpu-types = { git = "https://github.com/gfx-rs/wgpu.git", rev = "dfa4948033a33f89b56f71edba0b443dcd60d965" }
# wgpu = { git = "https://github.com/cwfitzgerald/wgpu.git", rev = "bda861f77e0ca0b97697850ad19d19a8b8f1cc9c" }
# wgpu-core = { git = "https://github.com/cwfitzgerald/wgpu.git", rev = "bda861f77e0ca0b97697850ad19d19a8b8f1cc9c" }
# wgpu-hal = { git = "https://github.com/cwfitzgerald/wgpu.git", rev = "bda861f77e0ca0b97697850ad19d19a8b8f1cc9c" }
# wgpu-types = { git = "https://github.com/cwfitzgerald/wgpu.git", rev = "bda861f77e0ca0b97697850ad19d19a8b8f1cc9c" }
# wgpu = { path = "../wgpu/wgpu" }
# wgpu-core = { path = "../wgpu/wgpu-core" }
# wgpu-hal = { path = "../wgpu/wgpu-hal" }
# wgpu-types = { path = "../wgpu/wgpu-types" }
