[licenses]
unlicensed = "deny"
allow-osi-fsf-free = "either"
allow = [
    "Apache-2.0",
    "MIT",
    "MPL-2.0",
    "Unlicense",
]
copyleft = "allow"

[bans]
multiple-versions = "deny"
wildcards = "allow"
skip = [
    # everything
    { name = "cfg-if", version = "0.1.10" },
    { name = "hashbrown", version = "0.9.1" },
    # graphics
    { name = "core-foundation", version = "0.7.0" }, # winit uses old version
    { name = "core-foundation-sys", version = "0.7.0" }, # winit uses old version
    { name = "core-graphics", version = "0.19.2" }, # winit uses old version
    # image
    { name = "miniz_oxide", version = "0.3.7" }, # png uses old version
    # winit
    { name = "proc-macro-crate", version = "0.1.5" }, # ndk
    { name = "dlib", version = "0.4.2" }, # wayland
    { name = "libloading", version = "0.6.7" }, # everything but wayland
    { name = "nix", version = "0.18.0" }, # wayland
    { name = "redox_syscall", version = "0.1.57" }, # ...
]

[advisories]
vulnerability = "warn"
unmaintained = "warn"
ignore = [
]

[sources]
unknown-registry = "deny"
unknown-git = "allow"
