[package]
name = "scene-viewer"
license = "MPL-2.0"
version = "0.1.0"
authors = ["Connor Fitzgerald <connorwadefitzgerald@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
basis = { version = "0.1.0", git = "https://github.com/BVE-Reborn/basis-rs.git", rev = "17480940261db81877ce4fec983a18a39d7db633" }
fnv = "1"
futures = { version = "0.3", default-features = false, features = ["executor"] }
glam = "0.11"
image = { version = "0.23", default-features = false, features = ["png", "jpeg", "tiff"]}
imgui = "0.6"
imgui-winit-support = "0.6"
obj = { version = "0.10", git = "https://github.com/cwfitzgerald/obj.git", branch = "map_ns" }
pico-args = "0.3"
rend3 = { path = "../../rend3", version = "0.1.0" }
smallvec = "1"
switchyard = "0.1"
tracing = { version = "0.1", default-features = false, features = ["std"] }
wgpu = "0.6"
wgpu-subscriber = "0.1"
winit = { version = "0.23" }

